.header {
  max-width: 880px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  top: 28px;
  position: relative;
}

.header__user {
  position: relative;
  justify-content: right;
  float: right;
  left: 664px;
  top: -16px;
  color: white;
}

.header__logout {
  width: 100px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  background: transparent;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  top: -15px;
  left: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__auth-link {
  color: #fff;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
  margin-bottom: 46px;
  position: relative;
  left: 815px;
  top: -23px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }
  .header__logo {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 126px;
    height: 24px;
  }
}
