.header {
  max-width: 880px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  top: 28px;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;

}

.header__logout {
  
}

.header__auth-link {
  color: #fff;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
  margin-bottom: 46px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }
  .header__logo {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 126px;
    height: 24px;
  }
}
